<div class="content">
  <div class="title">
    <span class="first-word"></span>
    <span>About Me</span>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-box">
        <div>
          Currently developing at Procore Technologies
        </div>
      </div>
    </div>
  </div>
</div>